.StudyCardWrap {
  display: flex;
  flex-direction: column;

  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 0.75rem;
  background-color: rgb(255, 255, 225);

  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  }
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.members {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.description {
  color: #555;
  font-size: 0.95rem;
}
