@use "./reset" as *;

@font-face {
  font-family: "JejuStoneWall";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-bg: #f6f4ef;
$color-border: #e5e5e5;
$color-text: #414141;
$color-subtext: #818181;
$color-btn: #99c08e;

$font-family-base: "Pretendard", sans-serif;
$font-family-btn: "JejuStoneWall", sans-serif;

$font-size-base: 1rem;
$font-size-subtext: 0.875rem;
$font-size-title: 1.5rem;
$font-size-icon: 0.75rem;

$breakpoint-mobile: 375px;
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1200px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin flexSort($justify, $alignItems) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItems;
}

@mixin flexDirection {
  display: flex;
  flex-direction: $direction;
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

body {
  background-color: $color-bg;
}

a {
  text-decoration: none;
}

button {
  @include flexCenter;
  cursor: pointer;
  color: #fff;
  font-family: $font-family-btn;
  font-size: $font-size-base;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #99c08e;
  border: none;
  text-shadow: -0.5px -2px #578246;
}

img {
  max-width: 100%;
}
